* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    margin: 0;
    padding: 40px;
    background-color: rgb(255, 255, 250);
}
body,
button {
    font-family: monospace;
}

p {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    color: grey;
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-weight: 100;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

.site-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
}

.doc-link {
    display: block;
    margin: 20px;
    font-size: 20px;
}

button {
    cursor: pointer;
    background: none;
    border: solid 2px black;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0 20px;
}

#file-upload{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#upload-button {
    cursor: pointer;
    display: inline-block;
    border: solid 2px black;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0 20px;
}

.info {
    border: solid 2px lightgrey;
    border-radius: 4px;
    padding: 20px;
    margin: 40px 0;
}

#acids {
    word-wrap: break-word;
}

.bases {
    word-wrap: break-word;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.logo {
    width: 80px;
    margin: 40px;
}

.skew-chart {
    border: solid 1px lightgrey;
}